/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.card:hover, .grammar-board:hover {
  cursor: pointer;
}

.ghostwhite {
  background-color: ghostwhite;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.flex-end {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}

#word-grid {
  min-width: 800px;
  margin: 10px;
}

.fa-refresh-styled {
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  height: 100%;
  max-height: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 0 1.5px black;
  margin: 12.5px;
}

/* guidance from: https://stackoverflow.com/questions/9058801/flip-div-with-two-sides-of-html */
.side1 {
  backface-visibility: hidden;
  transform-origin: 50% 50% 0px;
  transition: all 1.5s;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: contain;
}

.side2 {
  position: relative;
  text-align: center;
  top: -60%;
  display: block;
  width: 150px;
}

.image-side {
  backface-visibility: hidden;
  transform-origin: 50% 50% 0px;
  transition: all 1.5s;
  transform: rotateY(180deg);
}

.helper-word {
  text-align: center;
}

.helper-word span {
  position: relative;
  top: 28%;
}

.text-side {
  backface-visibility: hidden;
  /*transform-origin: 50% 50% 0px;
  transition: all 1.5s;*/
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
  border: 0;
  background-color: beige;
}

#sentence-area {
  border: 1px solid black;
  border-radius: 15px;
  padding: 12.5px;
  height: 175px;
  background: radial-gradient(white, ghostwhite);
}

.grammar-board {
  margin: 0 auto;
  max-width: 725px;
}

.grammar-board div {
  width: 175px;
  height: 175px;
}

.verb {
  background-color: tomato;
}

.s {
  background-color: tomato;
  max-width: 16px;
  box-sizing: border-box;
  padding: 49px/* 86px */ 2px 0;
}

.noun {
  background-color: gold;
}

.pron {
  background-color: #FFFF66; /* lightyellow3 */
}

.article {
  background-color: goldenrod;
}

.adj {
  background-color: yellowgreen;
}

.adv {
  background-color: red;
}

.prep {
  background-color: green;
}

.conj {
  background-color: lightblue;
}
