/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Corbel', sans-serif;
  font-size: 20px;
}

.card.no-margin:hover {
  cursor: pointer;
}

#instructions {
  margin: 16px 0px 0px;
  text-align: center;
  text-shadow: 0 0 1px white;
  font-weight: bold;
}

.ghostwhite {
  background-color: rgba(0, 191, 255, 0.8);/*deepskyblue;*/
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.flex-end {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}

#word-grid {
  min-width: 800px;
  margin: 10px;
}

.fa-refresh-styled {
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  height: 100%;
  max-height: 37.5px;
  margin-left: 5px;
  cursor: pointer;
}

.card {
  width: 162.5px;
  height: 162.5px;
  /*border-radius: 15px;*/
  box-shadow: 0 0 1.5px gray;
  margin: 7.5px;
}

/* guidance from: https://stackoverflow.com/questions/9058801/flip-div-with-two-sides-of-html */
.side1 {
  backface-visibility: hidden;
  transform-origin: 50% 50% 0px;
  transition: all 1.5s;
  width: 162.5px;
  height: 162.5px;
  border-radius: 15px;
  object-fit: contain;
}

.side2 {
  position: relative;
  text-align: center;
  top: -60%;
  display: block;
  width: 162.5px;
}

.image-side {
  backface-visibility: hidden;
  transform-origin: 50% 50% 0px;
  transition: all 1.5s;
  transform: rotateY(180deg);
}

.helper-word {
  text-align: center;
}

.helper-word span {
  position: relative;
  top: 36%;
}

.text-side {
  backface-visibility: hidden;
  /*transform-origin: 50% 50% 0px;
  transition: all 1.5s;*/
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
  border: 0;
  background-color: beige;
}

#sentence-area {
  border: 1px solid black;
  border-radius: 15px;
  padding: 12.5px;
  height: 175px;
  background: radial-gradient(cyan, blue);
}

.absolute {
  position: fixed;
}

.arrow {
  font-size: 36px;
  color: white;
  text-align: center;
  pointer-events: none;
}

.arrow p {
  margin: 5px 0 5px 10px;
}

.grammar-board {
  margin: 0 auto;
  max-width: 900px;
}

.grammar-board div {
  width: 175px;
  height: 175px;
}

.verb {
  background-color: tomato;
}

.suffix {
  box-shadow: none;
  max-width: 16px;
  box-sizing: border-box;
  padding: 1px 2px 0;
}

.number {
  background-color: beige;
}

.noun {
  background-color: gold;
}

.pron {
  background-color: #FFFF66; /* lightyellow3 */
}

.article {
  background-color: goldenrod;
}

.adj {
  background-color: yellowgreen;
}

.adv {
  background-color: red;
}

.prep {
  background-color: green;
}

.conj {
  background-color: lightblue;
}

#sidebar {
  position: relative;
  top: 30px;
  margin: 0 7.5px 0 10px;
}

#sidebar .card {
  margin: 0;
}

/* Source: https://perishablepress.com/preload-images-css3/ */
.preload {
  background: url('big.png') no-repeat -9999px -9999px;
  background: url('big.png') no-repeat -9999px -9999px,
              url('black.png') no-repeat -9999px -9999px,
              url('car.png') no-repeat -9999px -9999px,
              url('child.png') no-repeat -9999px -9999px,
              url('day.png') no-repeat -9999px -9999px,
              url('door.png') no-repeat -9999px -9999px,
              url('down.png') no-repeat -9999px -9999px,
              url('eye.png') no-repeat -9999px -9999px,
              url('five.png') no-repeat -9999px -9999px,
              url('four.png') no-repeat -9999px -9999px,
              url('hand.png') no-repeat -9999px -9999px,
              url('head.png') no-repeat -9999px -9999px,
              url('house.png') no-repeat -9999px -9999px,
              url('in.png') no-repeat -9999px -9999px,
              url('large.png') no-repeat -9999px -9999px,
              url('left.png') no-repeat -9999px -9999px,
              url('little.png') no-repeat -9999px -9999px,
              url('man.png') no-repeat -9999px -9999px,
              url('me.png') no-repeat -9999px -9999px,
              url('night.png') no-repeat -9999px -9999px,
              url('office.png') no-repeat -9999px -9999px,
              url('old.png') no-repeat -9999px -9999px,
              url('on.png') no-repeat -9999px -9999px,
              url('one.png') no-repeat -9999px -9999px,
              url('open.png') no-repeat -9999px -9999px,
              url('out.png') no-repeat -9999px -9999px,
              url('red.png') no-repeat -9999px -9999px,
              url('right.png') no-repeat -9999px -9999px,
              url('school.png') no-repeat -9999px -9999px,
              url('sit.png') no-repeat -9999px -9999px,
              url('small.png') no-repeat -9999px -9999px,
              url('stand.png') no-repeat -9999px -9999px,
              url('three.png') no-repeat -9999px -9999px,
              url('two.png') no-repeat -9999px -9999px,
              url('under.png') no-repeat -9999px -9999px,
              url('up.png') no-repeat -9999px -9999px,
              url('white.png') no-repeat -9999px -9999px,
              url('woman.png') no-repeat -9999px -9999px,
              url('write.png') no-repeat -9999px -9999px,
              url('you.png') no-repeat -9999px -9999px;
}
